<div class="detail-header-large" style="
background: url(<%= image %>) center center;
background-size: cover;
">
  <div class="detail-header-info">
    <%= page_heading :h1, title %>
    <!-- Game Description -->
    <div>
      <%= simple_format(description) %>
    </div>
  </div>
</div>
