<% controls = false if !defined?(controls) %>

<div class="item-card col-xs-12 m-1 rounded" style="background-image: url(<%= item.cover_image.url(w: 600) %>)">

  <%= render controls, item: item if controls %>

  <a href="<%= url_for(item) %>" class="p-2">
    <h3><%= item.title %></h3>
  </a>
</div>