<!--
In-Line Item Cards

Used for Users, Winnitrons, Games
And other things with an image and title and description

-->

<a href="<%= item_link %>">
<div class="item-card-square">

    <div class="item-card-content" style="
      background: linear-gradient(
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0.25)
      ),url(<%= item_image_url %>);
      background-size: cover;
    ">
      <%= item_name %>
    </div>

</div>
</a>
