<!--
<div class="third-party-auth">
	<div class="col-sm-9 col-sm-offset-3">
		<a href="/users/auth/github" class="btn btn-default">
			<i class="fa fa-github"></i>
			<span><%= action %> via Github</span>
		</a>
		<a href="/users/auth/facebook" class="btn btn-default facebook">
			<i class="fa fa-facebook"></i>
			<span><%= action %> via Facebook</span>
		</a>
	</div>
	<div class="clearfix"></div>
</div>
-->
