<% users.each do |user| %>
  <div class="user-card">
    <a href="<%= user_url(user) %>">
      <%= image_tag user.gravatar_url, class: "avatar" %>
      <br>
      <%= user.name %>
    </a>
  </div>
<% end %>