<div>
  <h1>Whatcha up to?</h1>

  <div class="panel panel-default">
    <div class="panel-body">
      <a href="<%= new_game_path %>">
      
        <span>Submit a game</span>
      </a>
    </div>
  </div>



  <div>
    <%= link_to "Register a Winnitron", new_arcade_machine_path %>
  </div>

  <p>&nbsp;</p>

  <div>
    <%= link_to "Make a playlist", new_playlist_path %>
  </div>
  <div>
    <%= link_to "Manage my playlist subscriptions", "something" %>
  </div>

</div>