<% set_title "Contact" %>
<div class="row col-lg-7">
  <h1>Got words?</h1>

  <p>We bet you have opinions.</p>

  <p>
    If you've got a bug report or a feature request, we've got ongoing issue lists on GitHub, both
    <a href="https://github.com/winnitron/winnitron_reborn/issues">for this website</a>
    and <a href="https://github.com/winnitron/WinnitronLauncher/issues">for the Winnitron Launcher</a>.
  </p>

  <p>
    Another option for questions and suggestions:
    <a href="https://reddit.com/r/winnitron/">our Winnitron subreddit</a>.
  </p>

  <p>
    You can also email us at <strong>winnitron.support@outerspacehero.com</strong>, or heck even send
    angry tweets from your <strike>egg</strike> account to:
    <ul>
      <li><a href="https://twitter.com/mr_m_wiebe">Marlon Wiebe</a> (mostly launcher stuff);</li>
      <li><a href="https://twitter.com/aaronklaassen">Aaron Klaassen</a> (mostly website stuff);</li>
      <li>or <a href="https://twitter.com/winnitron1000">the Winnitron 1000 itself</a> (mostly yelling at a machine).</li>
    </ul>
  </p>

</div>