<% set_title "Feedback" %>
<div class="row col-lg-7">
  <h1>Got words?</h1>

  <p>We bet you have opinions.</p>

  <p>
    If you've got a bug report or a feature request, we've got ongoing issue lists on GitHub, both
    <a href="https://github.com/winnitron/WinnitronLauncher/issues">for this website</a>
    and <a href="https://github.com/winnitron/winnitron_reborn/issues">for the Winnitron launcher</a>.
  </p>

  <p>
    You can also email us at winnitron.support@outerspacehero.com, or heck even send
    angry tweets from your egg account to:
    <br><a href="https://twitter.com/mr_m_wiebe">Marlon Wiebe</a> (mostly launcher stuff),
    <br><a href="https://twitter.com/aaronklaassen">Aaron Klaassen</a> (mostly website stuff),
    <br>or <a href="https://twitter.com/winnitron1000">the Winnitron 1000 itself</a> (mostly yelling at a machine).
  </p>

  <p>
    Seriously though your feedback/help/etc is hyper-appreciated. This is obviously
    a work in progress and we're glad you're here, you know?
  </p>
</div>