<div class="title">
  <h1>THE WINNITRON NETWORK</h1>
  <h2>AN OPEN SOURCE PLATFORM FOR INDIE ARCADE MACHINES AND GAMES.</h3>
</div>

<p>Want your game on the Network? Want these games on your arcade machine?</p>

<ul id="menu">
  <li><%= link_to "sign up", new_user_registration_path %></li>
  <li><%= link_to "sign in", new_user_session_path %></li>
</ul>
