<%= page_heading :h1, "oh hai" %>


<div>
  <p>
    <em>a world of choice for you to discover:</em>
    <ul>
      <li><%= link_to "sign up", new_user_registration_path %></li>
      <li><%= link_to "sign in", new_user_session_path %></li>
    </ul>
  </p>
</div>
