<h1>oh hai</h1>

<div>
  <p>
    <em>a world of choice for you to discover:</em>
    <ul>
      <li><%= link_to "sign up", new_user_registration_path %></li>
      <li><%= link_to "sign in", new_user_session_path %></li>
    </ul>
  </p>
</div>

<div>
  <p>&nbsp;</p>
  <%= image_tag "arcade_machine.gif" %>
  <br>
  this gif has been helpfully labelled "gif"
</div>