<div class="col-lg-9">
  <%= page_heading :h1, "Building a Winnitron?" %>

  <p>
    Want to add your Winnitron to the website?
    Just click this here button and we'll get you hooked up.
  </p>
  <p>
    <a href="<%= send_builder_request_path %>" data-method="post">
      <button class="btn btn-success">
        Yeah, I got an arcade machine! Hook me up!
      </button>
    </a>
  </p>
</div>