<div class="game-card-small col-lg-8 p-0 ml-3 mb-3" style="background-image: url('<%= game.cover_image.url(w: 340, h: 200) %>')">
  <a href="<%= game_path(game) %>">
    <h4 class="p-3">
      <%= game.title %>
    </h4>
  </a>
</div>