<!-- EDIT BUTTONS -->
<% show_stats ||= false %>

<% if user_signed_in? %>

  <div class="edit-buttons">

    <% if current_user.owns?(game) || current_user.admin? %>
      <% if show_stats %>
        <a href="<%= stats_game_path(game) %>" class="pull-right">
          <button class="btn btn-light">
            Stats
          </button>
        </a>

        <a href="" class="pull-right">
          <button class="btn btn-light">
            Scores
          </button>
        </a>
      <% end %>

      <% if current_user.can_download?(game) %>
        <a href="<%= @game.download_url %>" class="btn btn-light">Download this game</a>
      <% end %>

      <a href="<%= edit_game_path(game) %>">
        <button class="btn btn-success">
          Edit
        </button>
      </a>

      <a href="<%= confirm_destroy_game_path(game) %>">
        <button class="btn btn-danger" type="button">
          Delete
        </button>
      </a>

    <% end %>
  </div>

<% end %>
