<!-- EDIT BUTTONS -->
<% show_stats ||= false %>

<% if user_signed_in? %>

  <!-- Add to Winnitron dropdown -->
  <div class="edit-buttons dropdown">

    <%= render "shared/add_to_playlist", game: game %>

    <!-- Editing Buttons if Owned -->
    <% if current_user.owns?(game) || current_user.admin? %>
      <a href="<%= edit_game_path(game) %>">
        <button class="btn btn-success">
          Edit
        </button>
      </a>

      <a href="<%= confirm_destroy_game_path(game) %>">
        <button class="btn btn-danger" type="button">
          Delete
        </button>
      </a>

      <% if show_stats %>
        <a href="<%= stats_game_path(game) %>" class="pull-right">
          <button class="btn btn-default">
            Stats
          </button>
        </a>
      <% end %>
    <% end %>
  </div>

<% end %>
