<div class="row form-group">
  <label class="col-sm-3 control-label">Executable file:</label>
  <div class="col-sm-4">
    <%= text_field_tag :executable, "", class: "form-control", placeholder: "my_game.exe", required: true %>
  </div>
</div>