<div class="player<%= player %>">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th class="control">Control</th>
        <th>Key</th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td class="control">BACK / HOME</td>
        <td>ESC (required!)</td>
      </tr>
      <tr><td>&nbsp;</td><td></td></tr>


      <% KeyMap::CONTROLS.each do |control| %>
        <tr>
          <td class="control"><%= control %></td>
          <td>
            <span class="<%= control %> current-key">
              <a href="" class="ahk-key">
                <%= @game.key_map.bindings[player][control.downcase] %>
              </a>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
