<div class="col-sm-offset-1 col-sm-12">
  <ul id="keyboard">
    <li class="symbol">ESC</li>
    <li data-ahk="F1" class="symbol">F1</li>
    <li data-ahk="F2" class="symbol">F2</li>
    <li data-ahk="F3" class="symbol">F3</li>
    <li class="spacer">&nbsp;</li>
    <li data-ahk="F4" class="symbol">F4</li>
    <li data-ahk="F5" class="symbol">F5</li>
    <li data-ahk="F6" class="symbol">F6</li>
    <li class="spacer">&nbsp;</li>
    <li data-ahk="F7" class="symbol">F7</li>
    <li data-ahk="F8" class="symbol">F8</li>
    <li data-ahk="F9" class="symbol">F9</li>
    <li class="spacer">&nbsp;</li>
    <li data-ahk="F10" class="symbol">F10</li>
    <li data-ahk="F11" class="symbol">F11</li>
    <li data-ahk="F12" class="symbol">F12</li>

    <li data-ahk="`" class="symbol backtick firstitem">`</li>
    <li data-ahk="1" class="symbol">1</li>
    <li data-ahk="2" class="symbol">2</li>
    <li data-ahk="3" class="symbol">3</li>
    <li data-ahk="4" class="symbol">4</li>
    <li data-ahk="5" class="symbol">5</li>
    <li data-ahk="6" class="symbol">6</li>
    <li data-ahk="7" class="symbol">7</li>
    <li data-ahk="8" class="symbol">8</li>
    <li data-ahk="9" class="symbol">9</li>
    <li data-ahk="0" class="symbol">0</li>
    <li data-ahk="-" class="symbol">-</li>
    <li data-ahk="=" class="symbol">=</li>
    <li data-ahk="Backspace" class="delete">bksp</li>

    <li class="spacer">&nbsp;</li>
    <li data-ahk="Insert" class="symbol">ins</li>
    <li data-ahk="Home" class="symbol">home</li>
    <li data-ahk="PgUp" class="symbol">pgup</li>

    <li class="spacer">&nbsp;</li>
    <li class="symbol">num</li>
    <li data-ahk="NumpadDiv" class="symbol">/</li>
    <li data-ahk="NumpadMult" class="symbol">*</li>
    <li data-ahk="NumpadSub" class="symbol lastitem">-</li>

    <li data-ahk="Tab" class="tab firstitem">tab</li>
    <li data-ahk="q" class="letter">q</li>
    <li data-ahk="w" class="letter">w</li>
    <li data-ahk="e" class="letter">e</li>
    <li data-ahk="r" class="letter">r</li>
    <li data-ahk="t" class="letter">t</li>
    <li data-ahk="y" class="letter">y</li>
    <li data-ahk="u" class="letter">u</li>
    <li data-ahk="i" class="letter">i</li>
    <li data-ahk="o" class="letter">o</li>
    <li data-ahk="p" class="letter">p</li>
    <li data-ahk="[" class="symbol">[</li>
    <li data-ahk="]" class="symbol">]</li>
    <li data-ahk="\" class="symbol">\</li>

    <li class="spacer">&nbsp;</li>
    <li data-ahk="Delete" class="symbol">del</li>
    <li data-ahk="End" class="symbol">end</li>
    <li data-ahk="PgDn" class="symbol">pgdn</li>

    <li class="spacer">&nbsp;</li>
    <li data-ahk="Numpad7" class="symbol">7</li>
    <li data-ahk="Numpad8" class="symbol">8</li>
    <li data-ahk="Numpad9" class="symbol">9</li>
    <li data-ahk="NumpadAdd" class="symbol tall lastitem">+</li>

    <li class="capslock firstitem">caps lock</li>
    <li data-ahk="a" class="letter">a</li>
    <li data-ahk="s" class="letter">s</li>
    <li data-ahk="d" class="letter">d</li>
    <li data-ahk="f" class="letter">f</li>
    <li data-ahk="g" class="letter">g</li>
    <li data-ahk="h" class="letter">h</li>
    <li data-ahk="j" class="letter">j</li>
    <li data-ahk="k" class="letter">k</li>
    <li data-ahk="l" class="letter">l</li>
    <li data-ahk=";" class="symbol">;</li>
    <li data-ahk="'" class="symbol">'</li>
    <li class="return">enter</li>

    <li class="spacer">&nbsp;</li>
    <li class="full-spacer">&nbsp;</li>
    <li class="full-spacer">&nbsp;</li>
    <li class="full-spacer">&nbsp;</li>

    <li class="spacer">&nbsp;</li>
    <li data-ahk="Numpad4" class="symbol">4</li>
    <li data-ahk="Numpad5" class="symbol">5</li>
    <li data-ahk="Numpad6" class="symbol">6</li>

    <li data-ahk="LShift" class="left-shift firstitem">shift</li>
    <li data-ahk="z" class="letter">z</li>
    <li data-ahk="x" class="letter">x</li>
    <li data-ahk="c" class="letter">c</li>
    <li data-ahk="v" class="letter">v</li>
    <li data-ahk="b" class="letter">b</li>
    <li data-ahk="n" class="letter">n</li>
    <li data-ahk="m" class="letter">m</li>
    <li data-ahk="," class="symbol">,</li>
    <li data-ahk="." class="symbol">.</li>
    <li data-ahk="/" class="symbol">/</li>
    <li data-ahk="Shift" class="right-shift">shift</li>

    <li class="spacer">&nbsp;</li>
    <li class="full-spacer">&nbsp;</li>
    <li data-ahk="Up" class="symbol">&uarr;</li>

    <li class="full-spacer">&nbsp;</li>
    <li class="spacer">&nbsp;</li>
    <li data-ahk="Numpad1" class="symbol">1</li>
    <li data-ahk="Numpad2" class="symbol">2</li>
    <li data-ahk="Numpad3" class="symbol">3</li>
    <li data-ahk="NumpadEnter" class="symbol tall">ent</li>

    <li data-ahk="Control" class="ctrl firstitem">ctrl</li>
    <li class="spacer">&nbsp;</li>
    <li data-ahk="Alt" class="alt">alt</li>
    <li data-ahk="Space" class="space">space</li>
    <li data-ahk="Alt" class="alt">alt</li>
    <li class="spacer">&nbsp;</li>
    <li data-ahk="Control" class="ctrl">ctrl</li>

    <li class="spacer">&nbsp;</li>
    <li data-ahk="Left" class="symbol">&larr;</li>
    <li data-ahk="Down" class="symbol">&darr;</li>
    <li data-ahk="Right" class="symbol">&rarr;</li>

    <li class="spacer">&nbsp;</li>
    <li data-ahk="Numpad0" class="symbol zero">0</li>
    <li data-ahk="NumpadDot" class="symbol">.</li>
  </ul>
</div>