<div class="col-sm-offset-1 col-sm-12">
  <ul id="keyboard">
    <li class="symbol">ESC</li>
    <li class="symbol">F1</li>
    <li class="symbol">F2</li>
    <li class="symbol">F3</li>
    <li class="spacer">&nbsp;</li>
    <li class="symbol">F4</li>
    <li class="symbol">F5</li>
    <li class="symbol">F6</li>
    <li class="spacer">&nbsp;</li>
    <li class="symbol">F7</li>
    <li class="symbol">F8</li>
    <li class="symbol">F9</li>
    <li class="spacer">&nbsp;</li>
    <li class="symbol">F10</li>
    <li class="symbol">F11</li>
    <li class="symbol">F12</li>

    <li class="symbol backtick firstitem">`</li>
    <li class="symbol">1</li>
    <li class="symbol">2</li>
    <li class="symbol">3</li>
    <li class="symbol">4</li>
    <li class="symbol">5</li>
    <li class="symbol">6</li>
    <li class="symbol">7</li>
    <li class="symbol">8</li>
    <li class="symbol">9</li>
    <li class="symbol">0</li>
    <li class="symbol">-</li>
    <li class="symbol">=</li>
    <li class="delete">bksp</li>

    <li class="spacer">&nbsp;</li>
    <li class="symbol">ins</li>
    <li class="symbol">home</li>
    <li class="symbol">pgup</li>

    <li class="spacer">&nbsp;</li>
    <li class="symbol">num</li>
    <li class="symbol">/</li>
    <li class="symbol">*</li>
    <li class="symbol lastitem">-</li>

    <li class="tab firstitem">tab</li>
    <li class="letter">q</li>
    <li class="letter">w</li>
    <li class="letter">e</li>
    <li class="letter">r</li>
    <li class="letter">t</li>
    <li class="letter">y</li>
    <li class="letter">u</li>
    <li class="letter">i</li>
    <li class="letter">o</li>
    <li class="letter">p</li>
    <li class="symbol">[</li>
    <li class="symbol">]</li>
    <li class="symbol">\</li>

    <li class="spacer">&nbsp;</li>
    <li class="symbol">del</li>
    <li class="symbol">end</li>
    <li class="symbol">pgdn</li>

    <li class="spacer">&nbsp;</li>
    <li class="symbol">7</li>
    <li class="symbol">8</li>
    <li class="symbol">9</li>
    <li class="symbol tall lastitem">+</li>

    <li class="capslock firstitem">caps lock</li>
    <li class="letter">a</li>
    <li class="letter">s</li>
    <li class="letter">d</li>
    <li class="letter">f</li>
    <li class="letter">g</li>
    <li class="letter">h</li>
    <li class="letter">j</li>
    <li class="letter">k</li>
    <li class="letter">l</li>
    <li class="symbol">;</li>
    <li class="symbol">'</li>
    <li class="return">enter</li>

    <li class="spacer">&nbsp;</li>
    <li class="full-spacer">&nbsp;</li>
    <li class="full-spacer">&nbsp;</li>
    <li class="full-spacer">&nbsp;</li>

    <li class="spacer">&nbsp;</li>
    <li class="symbol">4</li>
    <li class="symbol">5</li>
    <li class="symbol">6</li>

    <li class="left-shift firstitem">shift</li>
    <li class="letter">z</li>
    <li class="letter">x</li>
    <li class="letter">c</li>
    <li class="letter">v</li>
    <li class="letter">b</li>
    <li class="letter">n</li>
    <li class="letter">m</li>
    <li class="symbol">,</li>
    <li class="symbol">.</li>
    <li class="symbol">/</li>
    <li class="right-shift">shift</li>

    <li class="spacer">&nbsp;</li>
    <li class="full-spacer">&nbsp;</li>
    <li class="symbol">&uarr;</li>

    <li class="full-spacer">&nbsp;</li>
    <li class="spacer">&nbsp;</li>
    <li class="symbol">1</li>
    <li class="symbol">2</li>
    <li class="symbol">3</li>
    <li class="symbol tall">ent</li>

    <li class="ctrl firstitem">ctrl</li>
    <li class="spacer">&nbsp;</li>
    <li class="alt">alt</li>
    <li class="space">space</li>
    <li class="alt">alt</li>
    <li class="spacer">&nbsp;</li>
    <li class="ctrl">ctrl</li>

    <li class="spacer">&nbsp;</li>
    <li class="symbol">&larr;</li>
    <li class="symbol">&darr;</li>
    <li class="symbol">&rarr;</li>

    <li class="spacer">&nbsp;</li>
    <li class="symbol zero">0</li>
    <li class="symbol">.</li>
  </ul>
</div>