<%= page_heading :h1, "<em>#{@game.title}</em>" %>

<%= render "breadcrumbs", active: :publish %>


<div class="col-sm-1"></div>
<div class="col-sm-9 publish-checklist">

  <h2>Ready to go?</h2>

  <ul class="yesno">
    <li>
      <% if @game.images.any? %>
        <span class="check-mark">✓</span>
      <% else %>
        <span class="x-mark">✖</span>
      <% end %>
      Upload at least one image
    </li>

    <li>
      <% if @game.game_zips.any? %>
        <span class="check-mark">✓</span>
      <% else %>
        <span class="x-mark">✖</span>
      <% end %>
      Upload your game as a zip file
    </li>

    <li>
      <% if @game.current_zip&.executable %>
        <span class="check-mark">✓</span>
      <% else %>
        <span class="x-mark">✖</span>
      <% end %>
      Designate the executable file inside the zip
    </li>

  </ul>

  <div class="publish-button-container">
    <% if @game.published? %>
      <button class="btn btn-disabled">Already published!</button>
    <% else %>
      <%= form_tag publish_game_path(@game.slug), method: :put do %>
        <%= submit_tag "Publish!", class: "publish-button btn btn-success" %>
      <% end %>
    <% end %>
  </div>
</div>
