<%= page_heading :h1, 'Submit a Game' %>

<div class="row">
  <div class="alert alert-info col-sm-10 col-sm-offset-1">
    Wondering about Winnitron game requirements?
    <a href="https://github.com/winnitron/WinnitronLauncher/wiki/Requirements-for-Winnitron-Games">
      <strong>Check out our wiki.</strong>
    </a>
  </div>
</div>

<%= render 'form' %>
