<%
active = { active => "active" }
%>

<div class="breadcrumbs col-sm-12">

  <div class="col-sm-2"></div>

  <% if @arcade_machine.persisted? %>
    <a href="edit"   class="item col-sm-2 <%= active[:details] %>">Details</a>
    <a href="images" class="item col-sm-2 <%= active[:images] %>">Images</a>
  <% else %>
    <div class="item col-sm-2 <%= active[:details] %>">Details</div>
    <div class="item col-sm-2 <%= active[:images] %>">Images</div>
  <% end %>

  <div class="item col-sm-2 disabled">Key Bindings</div>
</div>
