<% show_stats ||= false %>

<% if user_signed_in? %>

  <div class="edit-buttons dropdown">

    <% if current_user.owns?(arcade_machine) || current_user.admin? %>
      <% if show_stats %>
        <a href="<%= stats_arcade_machine_path(arcade_machine) %>" class="pull-right">
          <button class="btn btn-light">
            Stats
          </button>
        </a>
      <% end %>

      <a href="<%= edit_arcade_machine_path(arcade_machine) %>">
        <button class="btn btn-success">
          Edit
        </button>
      </a>
      <a href="<%= confirm_destroy_arcade_machine_path(arcade_machine) %>">
        <button class="btn btn-danger" type="button">
          Delete
        </button>
      </a>

    <% end %>
  </div>

<% end %>
