<!--
  WINNITRON GRID VIEW
-->

<div class="row list-group">
  <% arcade_machines.each do |machine| %>
    <div class="item col-lg-4">

      <div class="thumbnail">
        <a
          class="quiet-link image-box"
          href="<%= arcade_machine_url(machine) %>"
          style="background: url(<%= machine.cover_image.url(w: 320) %>) center center; background-size: cover;"
        >
        </a>
        <div class="caption">
          <h4 class="group inner list-group-item-heading">
            <%= machine.title %>
          </h4>

          <%= render "arcade_machines/edit_buttons", arcade_machine: machine %>

        </div>
      </div>
    </div>
  <% end %>
</div>
