<%= page_heading :h1, "Winnitrons!" %>
<p><em>as far as the eye can see</em></p>

<div class="row">
  <%= link_to "Add your Winnitron!", new_arcade_machine_path, class: "btn btn-success" %>
</div>

<p>&nbsp;</p>
<div class="row col-sm-8">
  <% mine, theirs = @arcade_machines.partition { |am| user_signed_in? && current_user.owns?(am) } %>

  <%= render "arcade_machines/list", arcade_machines: mine %>
  <%= render "arcade_machines/list", arcade_machines: theirs %>
</div>