<%= page_heading :h1, "Winnitrons!" %>
<p>&nbsp;</p>
<div>
  <% mine, theirs = @arcade_machines.partition { |am| user_signed_in? && current_user.owns?(am) } %>

  <%= render "arcade_machines/list", arcade_machines: mine %>
  <%= render "arcade_machines/list", arcade_machines: theirs %>
</div>
