<script src="//maps.google.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>

<%= page_heading :h2, "Winnitron Map" %>

<div style="height: 100%">
  <div id="map" style="width: 100%; height: 80%;"></div>
</div>


<script>
  var data = <%=raw @markers.to_json %>;

  handler = Gmaps.build("Google");
  handler.buildMap({ provider: {}, internal: { id: 'map' }});

  data.map(function(coords) {
    return new google.maps.Marker({
      position: new google.maps.LatLng(coords.lat, coords.lng),
      map: handler.getMap(),
      icon: "<%= asset_url('arcade32.png') %>"
    });
  });

  handler.map.centerOn({ lat: 20, lng: 0 });
  handler.getMap().setZoom(2);
</script>
