<strong>Your Winnitron has been approved!</strong>

<p>
  This means two things:
</p>
<p>
  <em>1!</em> Your Winnitron will appear on
  <a href="http://network.winnitron.com/arcade_machines">the public list</a>
  <br>
  <em>2!</em> When your Winnitron syncs it will not be limited to just the default official
  playlist (i.e., you can subscribe to other people's playlists or build your own!)
</p>

<p>
  Awesome. If you have any questions or problems at all, you can check out
  <a href="https://github.com/winnitron/winnitronlauncher/wiki">the wiki</a>
  or
  <a href="http://network.winnitron.com/contact">send us a message</a>.
  We're happy to help!
</p>