.comments .comment {
  border-left: 5px solid #eee;
  padding-left: 10px;

  .author {
    .name {
      font-weight: bold;
    }

    .bling {
      display: inline-block;
      float: right;

      span {
        background-color: #eee;
        color: #555;
        font-size: 12px;
        text-transform: lowercase;
        padding: 1px 3px;
      }
    }
  }
}

