/*

  Styles for single page views like a single Playlist or Game.

*/


.detail
{
  padding-top:20px;

  .detail-description
  {
    font-size: 26px;
  }

  .detail-edit-buttons
  {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.detail-header-large
{
  position: relative;
  height: 400px;

  .detail-header-info
  {
    color: white;
    position: relative;
    font-size: 30px;

    position: absolute;
    bottom: 20px;
    left: 20px;

    text-shadow: 0px 2px 12px rgba(0, 0, 0, 1);

    h1
    {
      font-size: 70px;
      color: white;
    }
  }
}
