/*

  Styles for single page views like a single Playlist or Game.

*/


.detail
{

}

.detail-header-large
{
  position: relative;
  height: 400px;

  .detail-header-info
  {
    position: relative;
    font-size: 30px;

    position: absolute;
    bottom: 20px;
    left: 20px;

    text-shadow: 4px 4px 10px rgba(150, 150, 150, 1);

    h1
    {
      font-size: 70px;
    }
  }
}
