body
{

}

.games {
  .portfolio-item {

    .card.active {
      cursor: pointer;

      .card-img-container {
        background-color: black;
      }

      .card-img {
        opacity: 0.3;
      }

      .card-title {
        visibility: visible !important;
      }

    }

    .card-title {
      margin-top: 50px;
    }

    .card-title a {
      color: white;

      &:hover
      {
        text-decoration: none;
      }
    }

  }
}

/*
a.quiet-link
{
  color: black;


  &:hover
  {
    text-decoration: none;
  }
}

.flash {
  margin-top: 10px;
}

footer {
  color: #aaa;
}

.subscribe-to-playlist form {
  display: inline;
}

.dash
{
  .dash-item
  {
    a {
      text-decoration: none;
    }

    .icon {
      width: 80px;
    }

    .text {
      padding-left: 25px;
      font-size: 40px;
    }
  }
}

a.collapse-arrow:hover,
a.collapse-arrow:focus {
  text-decoration: none;
}



.third-party-auth {
  margin-left: -10px;
  margin-bottom: 10px;

  a {
    margin-right: 10px;
  }

  .facebook {
    background-color: #3b5998;
    border-color: #1B3469;
    color: white;
  }

  .twitter {
    background-color: #1b95e0;
    border-color: #0084B4;
    color: white;
  }
}



table.table.hover tr:hover {
  background-color: #fafafa;
}



.remove-button {
  position: absolute;
  top: 0;
  right: 0;

  a {
    color: red;
    text-decoration: none;
  }
}

.the-bars .upload {
  margin: 0;
  padding: 0;
  border: none;
}

.note {
  color: #777;
  font-size: 10pt;
}

.text-shadow
{
  text-shadow: 0px 2px 12px rgba(0, 0, 0, 1);
}

label.check {
  font-weight: normal;
}



.devise-errors {
  list-style-type: none;
  padding: 0;
}

.add-item {
  margin-top: 10px;
  margin-right: 10px;

  img {
    width: 40px;
  }
}

.image-controls {
  padding: 0px 2px 2px 2px;

  img {
    display: inline !important;
    width: 16px;
  }
}

.item-actions {
  position: relative;
  top: 25px;
  right: 4px;
  z-index: 1000;

  a {
    color: red;
    font-weight: bold;
    text-decoration: none;
  }
}

.user .avatar {
  margin-right: 10px;
}

.comments textarea {
  text-align: left !important;
}

.approval-warning {
  a {
    font-weight: bold;
  }
}

.timeline-tooltip {
  padding: 3px;
  width: 100px
}

#timeline {
  margin: 25px 0;
  min-height: 200px;
}
*/