.flash {
  margin-top: 10px;
}

footer {
  color: #aaa;
}

.subscribe-to-playlist form {
  display: inline;
}

.dash .dash-item a {
  text-decoration: none;
}

.dash .dash-item .icon {
  width: 80px;
}

.dash .dash-item .text {
  padding-left: 25px;
  font-size: 40px;
}

.game-list .game {
  z-index: 1;
  background-color: white;
  padding: 3px;
  margin-bottom: 2px;
}

.playlist-list h3,
.game-list h3 {
  margin: 0px 0px 10px 0px;
  padding: 0;
}

.playlist-list ul,
.winnitron-list ul {
  list-style-type: none;
}

a.collapse-arrow:hover,
a.collapse-arrow:focus {
  text-decoration: none;
}

.playlist-list .playlist,
.winnitron-list .winnitron {
  padding: 3px;
  margin-bottom: 2px;
}

  .playlist-list .playlist .the-games {
    display: none;
  }

  .playlist-list .playlist.playlist-hover-born-ready a {
    color: white;
  }

.target-active-drop-it-here {
}

.target-hover-born-ready {
  background-color: #a1d490;
  color: white;
}

.dragem {
  padding-top: 100px;
}

.winnitron-list .winnitron .the-playlists {
  display: none;
}

.third-party-auth {
  margin-left: -10px;
  margin-bottom: 10px;
}

.third-party-auth a {
  margin-right: 10px;
}

.third-party-auth a.facebook {
  background-color: #3b5998;
  border-color: #1B3469;
  color: white;
}


.game .screenshot {
  width: 170px;
  padding: 10px;
  text-align: center;
  float: left;
  border: 5px solid white;
}

.game .screenshot:hover {
  border: 5px solid #fafafa;
}

.game .screenshot img {
  width: 140px;
}


.user-card,
.game-card,
.arcade-card {
  width: 120px;
  padding: 10px;
  text-align: center;
  float: left;
}

.user-card img,
.game-card img,
.arcade-card img {
  width: 100px;
  height: 100px;
}

.user-card a {
  text-decoration: none;
}

.user .avatar {
  width: 120px;
  height: 120px;
  margin-right: 10px;
}

.user .compliment {
  font-style: italic;
}

table.table.hover tr:hover {
  background-color: #fafafa;
}

.game-card {
  position: relative;
}

.remove-button {
  position: absolute;
  top: 0;
  right: 0;
}

.remove-button a {
  color: red;
  text-decoration: none;
}