.sidebar {
  padding-top: 40px;
}

.flash {
  margin-top: 10px;
}

footer {
  color: #aaa;
}

.subscribe-to-playlist form {
  display: inline;
}

.dash .dash-item a {
  text-decoration: none;
}

.dash .dash-item .icon {
  width: 80px;
}

.dash .dash-item .text {
  padding-left: 25px;
  font-size: 40px;
}

.game-list .game {
  border: 1px solid blue;
}


.playlist-list .playlist {
  border: 1px solid red;
}

.playlist-list .playlist a.collapse-arrow:hover,
.playlist-list .playlist a.collapse-arrow:focus {
  text-decoration: none;
}

.playlist-list .playlist .the-games {
  display: none;
}

.playlist-list .playlist.playlist-active-drop-it-here {
  background-color: red;
}

.playlist-list .playlist.playlist-hover-born-ready {
  background-color: green;
}

