/*

Sidebar related.

*/

.sidebar
{
  .my-stuff {
    max-height: 500px;
    overflow-y: scroll;
  }

  .arcade-machine
  {
    section
    {


      strong
      {
        font-size: 20px;
      }

      em
      {
        font-size: 16px;
      }
    }
  }
}
