<% if user_signed_in? %>

  <div class="card-controls">

    <% if current_user.arcade_machines.count == 1 %>
      <% machine = current_user.arcade_machines.first %>

      <%= form_for Subscription.new, remote: true, authenticity_token: true do |f| %>
        <%= hidden_field_tag :playlist_id, playlist.id %>
        <%= hidden_field_tag :arcade_machine_id, machine.id %>
        <%= f.submit "Add to #{machine.title}", class: "btn btn-secondary col-sm-8" %>
      <% end %>

    <% else %>
      <%# TODO: Dropdown or something? %>
    <% end %>

  </div>

<% end %>
