<!--
PLAYLIST GRID VIEW
-->

<div class="row list-group">
  <% playlists.each do |playlist| %>
  <div class="item col-sm-4">

    <div class="thumbnail">
      <a class="quiet-link" href="<%= playlist_path(playlist) %>">
        <img class="group list-group-image" src="http://placehold.it/400x250/33cccc/fff?text=image" alt="" />
      </a>
      <div class="caption">
        <h4 class="group inner list-group-item-heading">
          <%= playlist.title %>
        </h4>

        <!-- EDIT BUTTONS -->

        <% if user_signed_in? %>

          <!-- Add to Winnitron dropdown -->
          <div class="dropdown">
            <% if current_user.builder? && !current_user.playlists.empty? %>
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Add to Winnitron
                <span class="caret"></span>
              </button>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <% current_user.arcade_machines.each do |machine| %>
                  <li><%= link_to machine.name, arcade_machine_path(machine) %></li>
                <% end %>
              </ul>
            <% end %>

            <!-- Editing Buttons if Owned -->
            <% if current_user.owns?(playlist) %>
              <button class="btn btn-success">
                Edit
              </button>
              <button class="btn btn-danger" type="button">
                Delete
                <!-- NEED A CHECK BEFORE DELETE HERE -->
              </button>
            <% end %>
          </div>

        <% end %>

      </div>
    </div>
  </div>
  <% end %>
</div>
