<!--
PLAYLIST GRID VIEW
-->

<div class="row list-group">
  <% playlists.each do |playlist| %>
  <div class="item col-lg-4">

    <div class="thumbnail">
      <a
        class="quiet-link image-box"
        href="<%= playlist_path(playlist) %>"
        style="background: url(<%= playlist.cover_image.url(w: 320) %>) center center; background-size: cover;"
      ></a>
      <div class="caption">
        <h4 class="group inner list-group-item-heading">
          <%= playlist.title %>
        </h4>

        <%= render "playlists/edit_buttons", playlist: playlist %>

      </div>
    </div>
  </div>
  <% end %>
</div>
