<!--
<div class="col-lg-12 playlist-list">
  <% playlists.each do |playlist| %>
    <div class="playlist card col-sm-2">
      <%= link_to playlist.title, playlist_path(playlist) %>
    </div>
  <% end %>
</div>
-->

<div class="row list-group">
  <% playlists.each do |playlist| %>
    <div class="item col-sm-4">
      <a class="quiet-link" href="<%= link_to playlist.title, playlist_path(playlist) %>">
        <div class="thumbnail">
            <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
            <div class="caption">
                <h4 class="group inner list-group-item-heading">
                    <%= playlist.title %></h4>
                <p class="group inner list-group-item-text">
                    <%= playlist.description %></p>

                <!--
                OTHER DATA TO COME
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <p class="lead">
                            $21.000
                          </p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                    </div>
                </div>
                -->
            </div>
        </div>
      </a>
    </div>
    <% end %>
</div>
