<a href="<%= new_playlist_path %>" class="float-right mt-1 add-item btn btn-success">
  Create a new Playlist
</a>

<%= page_heading :h1, "Playlists" %>

<%= render "list", playlists: @mine if @mine.any? %>
<%= render "list", playlists: @theirs %>
