<div class="row my-4">
  <% images = imageable.images - [imageable.cover_image] %>
  <% images.each do |img| %>
    <div class="col-md-3 col-sm-6 mb-4">
      <a href="<%= img.url %>" data-toggle="lightbox" data-gallery="machine-gallery">
        <img src="<%= img.url(w: 500, h: 300) %>" class="img-fluid">
      </a>

      <% if user_signed_in? && (current_user.owns?(imageable) || current_user.admin?) %>
        <% parent = { parent_type: imageable.class, parent_id: imageable.id } %>
        <div class="controls text-right">
          <% if img == imageable.cover_image %>
            <span class="cover">⭐</span>
          <% else %>
            <%= link_to "★", image_path(img, parent.merge(cover: true)), method: :patch, title: "Make cover", class: "make-cover" %>
          <% end %>
          <%= link_to "ⅹ", image_path(img, parent), method: :delete, title: "Remove image", class: "remove" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>