<% imageable.images.each do |image| %>
  <span class="image">
    <a href="<%= image.url %>" class="screenshot">
      <img src="<%= image.url %>">
    </a>

    <% if user_signed_in? && (current_user.owns?(imageable) || current_user.admin?) %>
      <a href="" class="remove">x</a>
      <a href="" class="cover">

      </a>
    <% end %>

  </span>

<% end %>