<!DOCTYPE html>
<html lang="en" class="outside">
  <%= render "layouts/head" %>

  <body>
    <div id="top" class="header">
      <div class="vert-text">
        <%= yield %>
      </div>
    </div>
  </body>

</html>